{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<title>ScoreForge</title>

		<!-- adminkit JS -->
		<script src="{% static 'Tracker/adminKit/app.js' %}"></script>
		<!-- adminkit CSS -->
		<link rel="stylesheet" href="{% static 'Tracker/adminKit/app.css' %}" />

		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io/apple-touch-icon.png' %}" />
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}" />
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}" />
		<link rel="manifest" href="/site.webmanifest" />
	</head>
	<body>
		<div class="wrapper">
			<!-- Sidebar -->
			<nav id="sidebar" class="sidebar js-sidebar">
				<div class="sidebar-content js-simplebar">
					<a class="sidebar-brand" href="#">
						<span class="align-middle">ScoreForge</span>
					</a>

					<ul class="sidebar-nav">
						<li class="sidebar-header">Pages</li>

						<li class="sidebar-item active" id="dashboard-side-button">
							<a class="sidebar-link">
								<i class="align-middle" data-feather="sliders"></i>
								<span class="align-middle">Dashboard</span>
							</a>
						</li>

						<li class="sidebar-item" id="profile-side-button">
							<a class="sidebar-link">
								<i class="align-middle" data-feather="user"></i>
								<span class="align-middle">Profile</span>
							</a>
						</li>

						<li class="sidebar-item" id="manage-side-button">
							<a class="sidebar-link">
								<i class="align-middle" data-feather="package"></i>
								<span class="align-middle">Manage</span>
							</a>
						</li>
					</ul>
				</div>
			</nav>
			<div class="main">
				<!-- Top-Navbar -->
				<nav class="navbar navbar-expand navbar-light navbar-bg">
					<a class="sidebar-toggle js-sidebar-toggle">
						<i class="hamburger align-self-center"></i>
					</a>

					<div class="navbar-collapse collapse">
						<ul class="navbar-nav navbar-align">
							<li class="nav-item dropdown">
								<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
									<i class="align-middle" data-feather="settings"></i>
								</a>

								<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
									<span class="text-dark">{{ user.first_name }} {{ user.last_name }}</span>
								</a>
								<div class="dropdown-menu dropdown-menu-end">
									<a class="dropdown-item" href="/logout">Log out</a>
								</div>
							</li>
						</ul>
					</div>
				</nav>
				<main class="content">
					<div class="container-fluid p-0">{% block body %}{% endblock %}</div>
				</main>
			</div>
		</div>
		<div class="scripts">
			<script src="{% static 'Tracker/pages.js' %}"></script>
			<script src="{% static 'Tracker/manage.js' %}"></script>
			<script src="{% static 'Tracker/index.js' %}"></script>
		</div>
	</body>
</html>
